
@{
    ViewBag.Title = "BasicDetails";
}
<script src="~/Scripts/basicdetails.js"></script>

<h2>BasicDetails</h2>

<button onclick=hobby()>Hobby</button><br/>
<button onclick =skills()>Skills</button><br/>
<button onclick= eduction()>Eduction</button>

