@{
    ViewBag.Title = "Home Page";
}




<div class="jumbotron">
    <p class="id">
        1.5 years of experience in IT industry in front-end web development using ReactJs.
        | Experience in developing user interface using ReactJs and react-bootstrap.
        | Experience in Development and Implementation support with ReactJs.
        | Developing the user interface with IDE like Visual Studio Code.
        | Troubleshooting the issues which we get on a daily basis.
        | Responsible for supporting production and non-production environment

    </p>
</div>