
@{
    ViewBag.Title = "Index";
}

<h3> EmployeeIndex </h3>

<h2>Index</h2>

<div class="">
    <h1>Regestration form</h1>
    <form method="post" action="Index">
        <label>Name</label><br />
        <input type="text" value=""  placeholder="Enter your name" /><br />
        <label> Email</label><br />
        <input type="text" value="" placeholder="Enter your Email" /><br />
        <label>Gender</label><br />
        <input type="text" value=""  placeholder="Enter your Gender" /><br />
        <label>Age</label><br />
        <input type="number" value="" placeholder="Enter your Age" /><br />

        <input type="submit" name="Submit" />

    </form>

</div>

