
@{
    ViewBag.Title = "Skills";
}

<h2>Skills</h2>
<ul>
    <li>Javascript</li>
    <li>React.js</li>
    <li>Reduc.js</li>
    <li>Node.js</li>
    <li>express.js</li>
    <li>Mongodb</li>
    <li>html</li>
    <li>Css</li>
</ul>

